/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  padding: 40px;
}

span {
  display: block;
  margin-bottom: 15px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
